@import 'tailwindcss';

.toast-portal {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  inset: 0;
  overflow: visible;
  pointer-events: none;
}

.toast-portal > * {
  pointer-events: auto;
}
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark,
    'cupcake',
    'bumblebee',
    'emerald',
    'corporate',
    'synthwave',
    'retro',
    'cyberpunk',
    'valentine',
    'halloween',
    'garden',
    'forest',
    'aqua',
    'lofi',
    'pastel',
    'fantasy',
    'wireframe',
    'black',
    'luxury',
    'dracula',
    'cmyk',
    'autumn',
    'business',
    'acid',
    'lemonade',
    'night',
    'coffee',
    'winter',
    'dim',
    'nord',
    'sunset';
}
